@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Tasklist</h1>
    <p>Learn about Click below to manage your task.</p>

    <a href="/Task" class="btn btn-primary">Manage Tasks</a>
</div>
